Source: lnetd
Section: net
Priority: optional
Maintainer: Roland C. Dowdeswell <elric@imrryr.org>
Build-Depends: debhelper-compat (= 13), groff-base, python3, util-linux
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/ChapelTech/lnetd

Package: lnetd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lightweight inetd-style UNIX socket listener
 lnetd listens on a UNIX domain socket and starts a child process for each
 connection, in the same manner as inetd.
